@font-face {
    font-family: chomok;
    src: url(../fonts/Chomok6625.eot?abe7cq);
    src: url(../fonts/Chomok6625.eot?abe7cq#iefix) format('embedded-opentype'), url(../fonts/Chomok6625.ttf?abe7cq) format('truetype'), url(../fonts/Chomok6625.woff?abe7cq) format('woff'), url(../fonts/Chomok6625.svg?abe7cq#Chomok) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class^=heaven-],
[class*=" heaven-"] {
    font-family: hvn !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.heaven-behance:before {
    content: "\e900"
}

.heaven-facebook:before {
    content: "\e901"
}

.heaven-instagram:before {
    content: "\e902"
}

.heaven-linkedin:before {
    content: "\e903"
}

.heaven-mail:before {
    content: "\e904"
}

.heaven-marker:before {
    content: "\e905"
}

.heaven-messenger:before {
    content: "\e906"
}

.heaven-paypal:before {
    content: "\e907"
}

.heaven-rss:before {
    content: "\e908"
}

.heaven-skype:before {
    content: "\e909"
}

.heaven-twitter:before {
    content: "\e90a"
}

.heaven-vemio:before {
    content: "\e90b"
}

.heaven-whatsapp:before {
    content: "\e90c"
}

.heaven-xing:before {
    content: "\e90d"
}

.heaven-d:before {
    content: "\e90e"
}

.heaven-active-arrow-left:before {
    content: "\e90f"
}

.heaven-active-arrow-right:before {
    content: "\e910"
}

.heaven-Add-to-cart-icon:before {
    content: "\e911"
}

.heaven-analytics:before {
    content: "\e912"
}

.heaven-analytics-2:before {
    content: "\e913"
}

.heaven-analytics-3:before {
    content: "\e914"
}

.heaven-arrow-board:before {
    content: "\e915"
}

.heaven-bike-insurance:before {
    content: "\e916"
}

.heaven-browser:before {
    content: "\e917"
}

.heaven-browser-2:before {
    content: "\e918"
}

.heaven-browser-edit:before {
    content: "\e919"
}

.heaven-car:before {
    content: "\e91a"
}

.heaven-car-insurance:before {
    content: "\e91b"
}

.heaven-chart:before {
    content: "\e91c"
}

.heaven-check-list:before {
    content: "\e91d"
}

.heaven-clock:before {
    content: "\e91e"
}

.heaven-coffee-cup:before {
    content: "\e91f"
}

.heaven-coffee-cup-2:before {
    content: "\e920"
}

.heaven-consultation:before {
    content: "\e921"
}

.heaven-Cube-layer:before {
    content: "\e922"
}

.heaven-dashboard:before {
    content: "\e923"
}

.heaven-database:before {
    content: "\e924"
}

.heaven-decorating:before {
    content: "\e925"
}

.heaven-development:before {
    content: "\e926"
}

.heaven-diagram:before {
    content: "\e927"
}

.heaven-email-1:before {
    content: "\e928"
}

.heaven-home-insurance:before {
    content: "\e929"
}

.heaven-idea:before {
    content: "\e92a"
}

.heaven-idea-2:before {
    content: "\e92b"
}

.heaven-idea-3:before {
    content: "\e92c"
}

.heaven-insurance-card:before {
    content: "\e92d"
}

.heaven-interview:before {
    content: "\e92e"
}

.heaven-keyword:before {
    content: "\e92f"
}

.heaven-laptop:before {
    content: "\e930"
}

.heaven-location:before {
    content: "\e931"
}

.heaven-long-left-arrow:before {
    content: "\e932"
}

.heaven-long-right-arrow:before {
    content: "\e933"
}

.heaven-mail1:before {
    content: "\e934"
}

.heaven-mail-2:before {
    content: "\e935"
}

.heaven-mail-3:before {
    content: "\e936"
}

.heaven-marketing:before {
    content: "\e937"
}

.heaven-megaphone:before {
    content: "\e938"
}

.heaven-motorbike:before {
    content: "\e939"
}

.heaven-partners-icons-12:before {
    content: "\e93a"
}

.heaven-phone-call-1:before {
    content: "\e93b"
}

.heaven-phone-ringing:before {
    content: "\e93c"
}

.heaven-pie-chart:before {
    content: "\e93d"
}

.heaven-pie-chart-2:before {
    content: "\e93e"
}

.heaven-play:before {
    content: "\e93f"
}

.heaven-presentation-2:before {
    content: "\e940"
}

.heaven-puzzle:before {
    content: "\e941"
}

.heaven-puzzle-2:before {
    content: "\e942"
}

.heaven-question:before {
    content: "\e943"
}

.heaven-recommended:before {
    content: "\e944"
}

.heaven-Search:before {
    content: "\e945"
}

.heaven-search-icon:before {
    content: "\e946"
}

.heaven-search-impression:before {
    content: "\e947"
}

.heaven-sketch:before {
    content: "\e948"
}

.heaven-skyline:before {
    content: "\e949"
}

.heaven-smily:before {
    content: "\e94a"
}

.heaven-upstairs:before {
    content: "\e94b"
}

.heaven-users:before {
    content: "\e94c"
}

.heaven-viber:before {
    content: "\e94d"
}

.heaven-waiter:before {
    content: "\e94e"
}

.heaven-winning:before {
    content: "\e94f"
}

.heaven-Wishlist-icon:before {
    content: "\e950"
}

.heaven-d-print:before {
    content: "\e951"
}

.heaven-angel-left:before {
    content: "\e952"
}

.heaven-angel-right:before {
    content: "\e953"
}

.heaven-blueprint-1:before {
    content: "\e954"
}

.heaven-blueprint-2:before {
    content: "\e955"
}

.heaven-blueprint-3:before {
    content: "\e956"
}

.heaven-building:before {
    content: "\e957"
}

.heaven-home-insurance1:before {
    content: "\e958"
}

.heaven-house:before {
    content: "\e959"
}

.heaven-insurance:before {
    content: "\e95a"
}

.heaven-insurance-1:before {
    content: "\e95b"
}

.heaven-left-arrow:before {
    content: "\e95c"
}

.heaven-medical-insurance:before {
    content: "\e95d"
}

.heaven-play-button:before {
    content: "\e95e"
}

.heaven-right-arrow:before {
    content: "\e95f"
}

.heaven-snake_arrow_right:before {
    content: "\e960"
}

.heaven-staircase:before {
    content: "\e961"
}

.heaven-tools:before {
    content: "\e962"
}