@media(min-width:1366px) and (max-width:1760px) {}

@media(min-width:1366px) and (max-width:1530px) {
    .header-01 {
        padding: 0 45px
    }

    .headerAccessArea .heaven-link {
        white-space: nowrap
    }

    .header-social {
        margin-right: 25px
    }

    .pro01Content {
        max-width: 70%
    }

    .pro01Content h3 {
        margin: 0 0 9px
    }

    .p01SM .pro01Content h3 {
        font-size: 25px;
        line-height: 35px
    }
}

@media(min-width:1200px) and (max-width:1600px) {

    .header-social-05,
    .header-social-04 {
        margin-right: 150px
    }

    .main-menu-05,
    .main-menu-04 {
        margin-right: 100px
    }

    .slider01 .tp-bullets.custom {
        left: -65px !important
    }

    .logo-02 {
        padding-left: 0
    }

    .homeBannarSlider03 .owl-nav button.owl-prev {
        left: 125px
    }

    .homeBannarSlider03 .owl-nav button.owl-next {
        right: 125px
    }

    .singleSlider03 h3 {
        padding: 0;
        margin-top: 20px
    }

    .slider03 {
        padding: 275px 89px 0
    }

    .pro02ContentPJTPage {
        max-width: 49%
    }

    .pro02Content h3 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
        margin-bottom: 5px
    }
}

@media(min-width:1200px) and (max-width:1365px) {
    .header-inner-02 {
        margin-right: 0
    }

    .projectContainer {
        padding: 0 15px
    }

    .projectContainerPJTPage {
        padding: 0 15px
    }

    .pro01Content {
        max-width: 100%
    }

    .pro01Content h3 {
        font-size: 22px;
        line-height: 32px;
        margin: 0 0 9px
    }

    .p01SM .pro01Content h3 {
        font-size: 20px;
        line-height: 30px
    }

    .header-social {
        margin-right: 15px
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .pro02Content h3 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
        margin-bottom: 10px
    }

    .heavenTabAbPage {
        padding: 50px 45px 40px 100px
    }

    .blog-content {
        padding: 0 45px 46px
    }

    .tabUL li a {
        padding-left: 22px;
        padding-right: 22px
    }

    .slider01 .tp-bullets.custom {
        left: -85px !important
    }

    .single-service .single-service-title {
        padding-right: 130px
    }

    .single-service {
        padding: 50px 0 42px 35px
    }

    .single-service .hidden-lebel {
        right: 33px
    }

    .projectSection-01 .section-title p {
        line-height: 1.5
    }

    .filterUL li {
        padding-left: 18px;
        padding-right: 18px
    }

    .team-content {
        padding: 30px 20px
    }

    .team-content .team-social a {
        font-size: 12px;
        padding: 12px 0;
        width: 35px;
        height: 35px
    }

    .shape-testimonial {
        bottom: -30px
    }

    .blog-content h3 {
        margin-bottom: 15px
    }

    .experienceCount {
        right: -55px
    }

    .experienceCountDark {
        right: 0
    }

    .experienceCountDark h2 {
        margin: 95px 0 5px
    }

    .product_details {
        padding: 45px 0 0
    }

    .pro02ContentPJTPage {
        max-width: 61%
    }

    .projectSliderCard {
        padding: 62px 20px 115px 30px
    }

    .projectSliderCard h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2.8px;
        margin: 0 0 30px
    }

    .projectDetails h2.ptojetDetailsTitle {
        font-size: 42px;
        letter-spacing: 4.2px
    }

    .projectDetails .projectQuite p {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2.8px
    }

    .projectDetailsCard {
        padding: 62px 20px 115px 30px
    }

    .projectDetailsCard h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2.8px;
        margin: 0 0 30px
    }

    .relatedPostContent {
        padding: 0 35px 35px
    }

    .relatedPostContent h3 {
        color: #fff;
        font-size: 28px;
        letter-spacing: 2.8px;
        line-height: 36px;
        margin: 0 0 7px
    }
}

@media(min-width:768px) and (max-width:991px) {
    .heavenTabAbPage {
        padding-top: 40px;
        padding-bottom: 45px
    }

    .pageBannarContent02 h2 {
        font-size: 36px
    }

    .experienceCount {
        right: 0
    }

    .funFactRow {
        margin-top: 50px
    }

    .single-counter {
        margin-top: 40px
    }

    .single-service .single-service-title {
        padding-right: 30px
    }

    .single-service {
        padding-left: 30px
    }

    .shape-testimonial {
        bottom: -15px
    }

    .single-testimonial h2 {
        font-size: 30px;
        line-height: 50px
    }

    .projectSection-03 .text-left {
        text-align: center !important
    }

    .product_details {
        padding: 0
    }

    .single_comment {
        padding: 27px 20px 34px 145px
    }

    .single_comment>img {
        left: 20px
    }

    .pro02ContentPJTPage {
        max-width: 81%
    }
}

@media(min-width:1200px) {
    .main-menu {
        display: inline-flex !important
    }

    .main-menu-02,
    .main-menu-03,
    .main-menu-04,
    .main-menu-05 {
        display: block !important
    }
}

@media(max-width:1199px) {
    .projectSecPJTPage04 {
        padding-left: 0;
        padding-right: 0
    }

    .aboutDescription {
        margin-right: 0;
        margin-left: 0
    }

    .sub-heading-des {
        margin-right: 0
    }

    .header-01 {
        padding: 0 15px
    }

    .header-inner-02 {
        margin-right: 0;
        justify-content: space-around
    }

    .header-inner-03 {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .header-inner-04 {
        padding: 0
    }

    .header-inner-05 {
        padding: 0
    }

    .logo-02 {
        padding-left: 0
    }

    .logo-03 {
        padding: 0 0 25px
    }

    .logo-04 {
        margin-right: 0
    }

    .logo-05 {
        margin-right: 0
    }

    .headerAccessArea {
        margin-left: 10px
    }

    .headerAccessArea-02 {
        margin-left: 20px
    }

    .headerAccessArea-03 .main-menu-03.cmMainmenu {
        text-align: left
    }

    .header-social {
        margin-right: 30px
    }

    .header-social-03 {
        margin: 0
    }

    .header-social-03::after {
        display: none
    }

    .header-social-04 {
        margin: 0
    }

    .header-social-05 {
        margin: 0
    }

    .header-social-03 a {
        margin: 0 9px
    }

    .fixedHeader.header-03 .header-social-03 {
        margin-left: 20px
    }

    .header-03 {
        padding: 0
    }

    .header-03 .logo-03,
    .fixedHeader.header-03 .logo-03 {
        padding: 20px 0
    }

    .menuToggler {
        display: inline-flex;
        margin-left: auto
    }

    .menuToggler-02 {
        display: inline-flex
    }

    .menuToggler-03 {
        margin: 0
    }

    .fixedHeader.header-03 .main-menu-03,
    .cmMainmenu {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--site);
        top: 100%;
        z-index: 9;
        display: none;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        margin: 0;
        text-align: left
    }

    .cmMainmenu ul {
        display: block;
        width: 100%;
        position: relative
    }

    .cmMainmenu ul li {
        margin: 0;
        padding: 0;
        display: block
    }

    .cmMainmenu ul li a {
        margin: 0;
        padding: 0;
        background: 0 0;
        display: block;
        color: #fff;
        padding: 11px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        position: relative
    }

    .cmMainmenu ul li ul li a {
        padding-left: 34px
    }

    .cmMainmenu ul li ul li ul li a {
        padding-left: 49px
    }

    .cmMainmenu>ul>li:last-child>a {
        border-bottom: none
    }

    .cmMainmenu ul li ul li:last-child a {
        border-bottom: 1px solid rgba(255, 255, 255, .2)
    }

    .cmMainmenu ul li a:hover,
    .cmMainmenu ul li.current-menu-item>a {
        background: 0 0;
        color: #fff
    }

    .cmMainmenu ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: #141414;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        transform: none;
        transition: none;
        display: none
    }

    .cmMainmenu ul li ul li ul {
        left: 0;
        top: 0;
        background: #343434
    }

    .main-menu-04.cmMainmenu ul li a:hover,
    .main-menu-04.cmMainmenu ul li.current-menu-item>a,
    .main-menu-03.cmMainmenu ul li a:hover,
    .main-menu-03.cmMainmenu ul li.current-menu-item>a {
        color: #fff
    }

    .fixedHeader.header-04 .main-menu-04 ul li,
    .fixedHeader.header-03 .main-menu-03 ul li {
        padding: 0
    }

    .slider03 {
        padding-left: 0;
        padding-right: 0
    }

    .slider02VerticalOverlay {
        width: 55%
    }

    .homeBannarSlider03 .owl-nav button.owl-prev {
        left: 80px
    }

    .homeBannarSlider03 .owl-nav button.owl-next {
        right: 80px
    }

    .single-service-02 {
        margin: 0 0 40px
    }

    .discountDescription h3 {
        font-size: 45px;
        letter-spacing: 4px
    }

    .discountOffer {
        width: 100%;
        padding-left: 25px
    }

    .discountOffer h2 {
        font-size: 150px
    }

    .discountOffer h3 {
        font-size: 55px
    }

    .single-service-02 .ibMeta i {
        opacity: .2
    }

    .single-service-02:hover .ibMeta i {
        opacity: 1
    }

    .heavenTabContent02>p {
        padding: 0
    }

    .about-02 .sub-heading-des {
        padding: 0
    }

    .abTabContent {
        height: 100%
    }

    .abTabContent .tab-pane {
        height: 100%
    }

    .abTabContent .heavenTabContent02 img {
        height: 100%;
        object-fit: cover
    }

    .projectContainer {
        padding: 0 15px
    }

    .projectContainerPJTPage {
        padding: 0 15px
    }

    .pro01Content {
        max-width: 100%
    }

    .pro01Content h3 {
        font-size: 22px;
        line-height: 32px;
        margin: 0 0 9px
    }

    .p01SM .pro01Content h3 {
        font-size: 20px;
        line-height: 30px
    }

    .tab-content .slideInRight2 {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp
    }

    .map {
        padding: 0
    }

    .leaveAComment {
        margin: 60px 0 0
    }

    .contactBox .sayHello {
        margin: 40px 0 0
    }

    .leaveAComment p {
        padding-right: 0
    }

    .projectSliderWrap {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .projectDetailsBannarImageVideo {
        padding: 0
    }

    .sidebar {
        padding: 0
    }

    .sidebarLeft {
        padding: 0
    }

    .blogContent .blogQuite p {
        font-size: 28px;
        letter-spacing: 2.8px
    }

    .commentFrom p {
        padding-right: 0
    }

    .blogDetailsBannarImageVideo {
        padding: 0
    }

    .product_carousel.owl-carousel .owl-nav button.owl-prev {
        right: auto;
        left: -15px
    }

    .product_carousel.owl-carousel .owl-nav button.owl-next {
        right: -15px;
        left: auto
    }

    .main-menu ul li ul li:hover>a,
    .main-menu ul li ul li.current-menu-item>a {
        border-bottom-color: rgba(255, 255, 255, .3)
    }

    .videoText h2 {
        font-size: 68px;
        line-height: 1.1
    }

    .main-menu-02 ul li:hover>a,
    .main-menu-02 ul li.current-menu-item>a {
        border-bottom-color: rgba(255, 255, 255, .3)
    }

    .main-menu-03 ul li:hover>a,
    .main-menu-03 ul li.current-menu-item>a {
        border-bottom-color: rgba(255, 255, 255, .3)
    }

    .single-testimonial-03 h2 {
        font-size: 30px;
        line-height: 50px
    }

    .header-04.isDark .header-social-04 {
        margin-left: 30px;
        margin-right: 40px
    }

    .isDark .main-menu-04 ul li>a,
    .cmMainmenu ul li a {
        margin: 0;
        padding: 0;
        background: 0 0;
        display: block;
        color: #fff;
        padding: 11px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        position: relative
    }

    table.shop_table td.actions>.button {
        float: left
    }

    .cartBtn02 {
        margin-top: 15px
    }

    .headerAccessArea-04,
    .headerAccessArea-05 {
        margin: 0 50px 0 36px
    }

    .single-testimonial-02 {
        padding: 45px 15px 55px;
        margin: 0 0 20px
    }

    .main-menu-05 ul li ul>li.current-menu-item a {
        border-bottom-color: rgba(255, 255, 255, .3)
    }
}

@media(max-width:991px) {
    .contactBox {
        padding-left: 50px;
        padding-right: 50px
    }

    .blogDetailsBannarImage .col-lg-12 {
        padding-right: 0;
        padding-left: 0
    }

    .commentsList ol li ol {
        padding-left: 50px
    }

    .commentsArea {
        padding-left: 40px;
        padding-right: 30px
    }

    .relatedPosts .filterULRelatedPost {
        justify-content: flex-start
    }

    .aboutDescription h2 {
        font-size: 40px;
        letter-spacing: 2px
    }

    .singleSlider03 h3 {
        padding: 0
    }

    .section-title-dark p {
        line-height: 1.4
    }

    .single-service-03 {
        margin: 0 0 40px
    }

    .tabUL {
        justify-content: flex-start
    }

    ul.heavenTabAbPage,
    .heavenTab02 {
        padding-left: 31px;
        padding-right: 31px
    }

    .single-blog-03,
    .single-blog-02 {
        margin: 0 0 40px !important
    }

    .single-service {
        margin: 0 0 30px
    }

    .about-image img {
        width: 100%;
        height: auto
    }

    .about-image {
        margin: 0 0 50px
    }

    .heavenTabContent img {
        width: 100%
    }

    .projectSection-01 .section-title {
        text-align: center !important
    }

    .filterUL {
        justify-content: center
    }

    .filterULPJTPage {
        justify-content: flex-start
    }

    .filterULRelatedPost {
        justify-content: flex-end
    }

    .filterMenu {
        margin: 0 0 45px
    }

    .projectSliderWrapPJT03 .owl-carousel .owl-dots {
        margin: 15px 0 0
    }

    .single-team {
        margin: 0 0 30px
    }

    .single-blog {
        margin: 0 0 30px
    }

    .project01 img {
        min-height: 320px;
        object-fit: cover
    }

    .projectSliderWrap {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .projectSliderPJT02 .slick-list {
        margin: 0 !important
    }

    .videoText h2 {
        font-size: 48px;
        margin: 0 0 47px
    }

    .footer-01 {
        padding-bottom: 40px
    }

    .footer-02 {
        padding-bottom: 40px
    }

    .footerWidget {
        margin: 0 0 50px;
        display: inline-block;
        width: 100%
    }

    .reviewFrom .nameInput {
        margin: 0 0 15px
    }

    .contactFrom .nameInput {
        margin: 0 0 15px
    }

    .commentFrom .nameInput {
        margin: 0 0 15px
    }

    .pd_qty {
        display: inline-flex;
        align-items: center
    }

    .pd_qty label {
        margin: 0 25px 0 0
    }

    .pdq_main {
        width: 45px;
        top: 1px
    }

    .pd_button_area .heaven-btn-02 {
        white-space: nowrap
    }

    .heaven_pagination {
        margin: 30px 0 60px
    }

    .pageBannarContent02 h2 br {
        display: none
    }

    .pageBannarContent03 h2 br {
        display: none
    }

    table.shop_table tbody tr td.product-quantity .pd_qty .pdq_main {
        top: 0
    }

    .cart-collaterals {
        justify-content: flex-start
    }

    .cart-collaterals .cart_totals,
    .cart-collaterals .cart_totals {
        width: 100%
    }

    .projectDetailsCard {
        margin: 42px 0 0
    }

    .ePgBnContent h2 {
        font-size: 42px
    }

    .ePgBnContent h1 {
        font-size: 60px;
        -moz-text-stroke: 2px #a9997a;
        -webkit-text-stroke: 2px #a9997a;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent
    }

    .ePgBnContent h1 span.errorPage0 {
        -moz-text-stroke: 2px #fff;
        -webkit-text-stroke: 2px #fff;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent
    }

    table.shop_table tbody tr td {
        padding-right: 15px;
        padding-left: 15px
    }

    .video-content h2 {
        font-size: 63px;
        line-height: 1.1
    }

    .single-testimonial-03 h2 {
        font-size: 26px;
        line-height: 40px
    }

    .projectDetails h2.ptojetDetailsTitle {
        font-size: 40px;
        line-height: 1.2
    }

    .bsSocial {
        justify-content: flex-start
    }

    .shopSection {
        padding: 60px 0
    }

    .featured_product_slider_section {
        padding: 0 0 70px
    }

    .headerAccessArea-04 {
        margin: 0 25px 0 10px
    }

    .headerAccessArea-04.hana04 {
        margin: 0 45px 0 30px
    }
}

@media(max-width:767px) {
    .map iframe {
        height: 500px
    }

    .commentsArea {
        padding-left: 20px;
        padding-right: 20px
    }

    .CW01,
    .CW02 {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%
    }

    .pfwsItem {
        height: 800px
    }

    .pro02Content h3 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
        margin-bottom: 10px
    }

    .mCSB_inside>.mCSB_container {
        margin-right: 0
    }

    .dl-menu__wrap {
        top: -20px
    }

    .popUp_social.text-right {
        text-align: center !important;
        margin: auto;
        left: 0;
        bottom: 20px
    }

    .popUp_social a {
        font-size: 0
    }

    .popUp_social a i {
        font-size: 13px
    }

    .footer__contacts {
        text-align: center !important;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 50px
    }

    .footer__contacts li {
        padding: 0;
        margin: 0 0 2px
    }

    .footer__contacts li i {
        display: none
    }

    .close-popup {
        top: 15px;
        right: 15px
    }

    .logo2 {
        left: 10px;
        top: 20px
    }

    .abpage01 .abTC-Pr {
        order: 1
    }

    table.shop_table td.actions .button,
    table.shop_table td.actions>.button {
        float: none
    }

    table.shop_table td.actions .coupon {
        display: block
    }

    table.shop_table tbody tr td.product-remove {
        text-align: left
    }

    table.shop_table tbody tr td a.p-img {
        display: none
    }

    .woocommerce-cart-form table.shop_table thead tr,
    .woocommerce-cart-form table.shop_table tbody tr {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%
    }

    .cart-collaterals ul#shipping_method {
        margin-left: -12px
    }

    .cart-collaterals h2 {
        padding-left: 20px
    }

    .cart-collaterals .cart_totals table.shop_table tr th {
        padding-left: 15px;
        padding-right: 15px
    }

    .cart-collaterals .cart_totals table.shop_table tr th {
        width: 34%
    }

    .product_carousel.owl-carousel .owl-nav button {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 16px
    }

    .header-social-03 {
        display: none
    }

    .pageBannarContent h2::after {
        width: 100%
    }

    .pageBannarContent02 h2::after {
        width: 100%
    }

    .pageBannarContent03 h2::after {
        width: 100%
    }

    .pageBannarContent h2 {
        font-size: 45px
    }

    .pageBannarContent02 h2 {
        font-size: 28px
    }

    .pageBannarContent03 h2 {
        font-size: 45px
    }

    .header-social-04 {
        display: none
    }

    .header-social-05 {
        display: none
    }

    .fixedHeader.header-03 .header-social-03 {
        display: none
    }

    .heavenTab li {
        width: 100%;
        margin: 0 0 40px
    }

    ul.heavenTabAbPage {
        padding: 40px 30px;
        margin: 0 0 40px
    }

    .single-testimonial-03 h2 {
        font-size: 36px;
        line-height: 48px
    }

    .single-counter-dark {
        margin-top: 45px
    }

    .experienceCount h2 {
        font-size: 85px;
        padding: 40px 0 0
    }

    .experienceCountDark h2 {
        margin-top: 0
    }

    .slider03 {
        height: auto
    }

    .slider02VerticalOverlay {
        display: none
    }

    .homeBannarSlider03 .owl-nav button.owl-prev {
        left: 295px
    }

    .homeBannarSlider03 .owl-nav button.owl-next {
        right: 295px
    }

    .header-social-03::after {
        width: 100%
    }

    .abTC-Pl {
        padding-left: 15px
    }

    .abTC-Pr {
        padding-right: 15px
    }

    .pro02Content h3 {
        line-height: 36px
    }

    .pro02Content {
        max-width: 90%
    }

    .projectSliderWrap {
        overflow: hidden
    }

    .tabUL li {
        margin: 0 0 10px
    }

    .about-02 .sub-heading-des {
        font-synthesis: 44px
    }

    .headerAccessArea-02 {
        display: none
    }

    .testimonialSlider02.owl-carousel .owl-dots {
        position: relative;
        top: 25px
    }

    .videoText {
        text-align: center
    }

    .discountOffer h2 {
        font-size: 100px
    }

    .discountOffer h3 {
        font-size: 36px
    }

    .discountDescription h3 {
        font-size: 36px
    }

    .discountOffer {
        width: 100%;
        height: auto;
        padding-left: 25px;
        padding-bottom: 50px;
        margin: 0 0 30px
    }

    .experienceCount {
        width: 100%;
        right: 0;
        position: relative;
        bottom: 0
    }

    .video-content h2 {
        font-size: 52px
    }

    .team-content .team-social a {
        margin: 0 3px
    }

    .slider02 .tp-bullets.custom {
        left: calc(100% + 25px) !important
    }

    .slider01 .tp-bullets.custom {
        top: 80% !important;
        left: -80px !important
    }

    .header-01 {
        padding: 0
    }

    .logo {
        width: 65%
    }

    .headerAccessArea {
        display: none
    }

    .single-service {
        padding: 50px 0 42px 30px
    }

    .single-service .single-service-title {
        display: block;
        padding-right: 50px
    }

    .single-service-title h3 {
        margin: 15px 0 0
    }

    .single-service .hidden-lebel {
        font-size: 52px;
        top: 55px;
        right: 28px
    }

    .sub-heading-des {
        margin: 21px 0 28px
    }

    .heavenTabVertical {
        padding-left: 0
    }

    .heavenTab {
        position: relative;
        left: 0;
        top: 0;
        margin: 0 0 50px
    }

    .heavenTab li {
        max-width: 155px
    }

    .filterUL {
        display: block
    }

    .funFactRow {
        margin-top: 81px
    }

    .single-counter {
        margin-top: 30px
    }

    .projectSliderPJT02 .slick-slide {
        margin: 0 !important
    }

    .filterUL li {
        padding: 10px 10px 8px;
        margin: 0 5px 5px 0;
        float: left
    }

    .section-title p {
        line-height: 28px
    }

    .project01:before {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        left: 15px;
        top: 15px;
        border: 3px solid #a9997a
    }

    .pro01Content {
        padding: 0 44px 32px
    }

    .stImage:after {
        background-size: 100% auto
    }

    .single-testimonial h2 {
        font-size: 24px;
        line-height: 40px
    }

    .shape-testimonial {
        bottom: -2px
    }

    .single-blog img {
        width: 100%;
        height: auto
    }

    .clientLastRow .single-client {
        margin: 0 0 50px
    }

    ul.footer-social {
        display: block;
        width: 50%;
        text-align: right
    }

    ul.footer-social-light {
        display: block;
        width: 50%;
        text-align: right
    }

    ul.footer-social li {
        float: right;
        margin-left: 15px
    }

    ul.footer-social-light li {
        float: right;
        margin-left: 15px
    }

    .product_details {
        padding: 50px 0 0
    }

    .product_details_tab {
        margin: 50px 0 0
    }

    .product_details_tab {
        margin: 50px 0 0;
        display: block
    }

    .product_details_tab li.nav-item {
        margin: 0 0 15px;
        display: block
    }

    .product_details_tab li.nav-item:last-child {
        margin: 0
    }

    .product_details_tab li.nav-item a {
        display: inline-block
    }

    .pdtci_content table tr th {
        min-width: 80px
    }

    .single_comment {
        padding: 25px
    }

    .single_comment>img {
        position: relative;
        left: 0;
        top: 0;
        margin: 0 0 10px
    }

    .contactBox {
        padding: 117px 30px 119px
    }

    .serviceDetailsTitle h2 {
        font-size: 36px
    }

    .serviceDetailsTitle>span {
        font-size: 17px
    }

    .sidebarLeft {
        margin: 0 0 38px
    }

    .section-title h2 {
        font-size: 36px;
        letter-spacing: 3.6px;
        margin: 0;
        margin-bottom: 4px
    }

    .commentsList ol li .singleComment {
        padding-left: 0
    }

    .commentsList ol li .singleComment img {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px
    }

    .commentsList ol li ol {
        padding-left: 15px
    }

    .sidebarBlogDetails {
        margin-top: 42px
    }

    .blogDetailsHeader h2 {
        font-size: 32px;
        letter-spacing: 3.2px
    }

    .blogDetailsHeader p.leadParagraph {
        font-size: 16px;
        letter-spacing: 1.6px
    }

    .ePgBnContent h1 {
        font-size: 42px;
        margin: 23px 0 22px;
        -moz-text-stroke: 1px #a9997a;
        -webkit-text-stroke: 1px #a9997a;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent
    }

    .ePgBnContent h2 {
        font-size: 28px;
        -moz-text-stroke: 1px #fff;
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent
    }

    .ePgBnContent h2>span {
        -moz-text-stroke: 1px #a9997a;
        -webkit-text-stroke: 1px #a9997a;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent
    }

    .single-testimonial-03 h2 {
        font-size: 20px;
        line-height: 36px
    }

    .footer-03 {
        padding: 119px 0 0
    }

    .projectDetails h2.ptojetDetailsTitle {
        font-size: 30px;
        letter-spacing: 4px
    }

    .blogSecFullWidth_02 {
        padding: 0 0 70px
    }

    .blogSecLeftSidebar_02 {
        padding: 0 0 70px
    }

    .isDark .menuToggler-02 {
        display: none
    }

    .heaven_pagination.sop04mt {
        margin-top: 18px !important
    }

    .heaven_pagination.sop04mb {
        margin-bottom: 20px !important
    }

    .cartBtn02 {
        margin-top: 0
    }

    .cartBtn01 {
        margin-top: 15px;
        margin-bottom: 15px
    }

    table.shop_table tbody tr {
        border-bottom: 1px solid #ececec
    }

    table.shop_table tbody tr td {
        border-bottom: 1px solid transparent;
        padding: 15px
    }

    table.shop_table tbody tr.cartLast {
        border-bottom: 0
    }

    .cart_totals table.shop_table tbody tr td {
        border-bottom: 1px solid #ececec;
        padding: 15px
    }

    .shopInnerPages {
        padding: 100px 0
    }

    .headerAccessArea-04,
    .headerAccessArea-05 {
        margin: 0
    }

    .menuToggler-02 {
        display: none
    }

    .team_content {
        margin: 30px 0 0
    }

    .pricingSections {
        padding: 120px 0 50px
    }

    .pricingTable {
        margin: 0 0 60px
    }

    .blogSecInBlogDetails {
        padding: 100px 0 70px
    }

    .headerAccessArea-04.hana04 {
        margin: 0
    }
}

@media(max-width:576px) {
    .projecetFullWidthSlider .owl-nav {
        width: 130px;
        height: 70px
    }

    .projecetFullWidthSlider .owl-nav button i {
        padding-top: 24px
    }

    .pd_qty label {
        display: none
    }

    .heaven_pagination a i {
        top: 0
    }

    .heaven_pagination a,
    .heaven_pagination span {
        width: 42px;
        height: 42px;
        font-size: 16px;
        line-height: 45px;
        margin: 0 2.5px
    }

    .serviceDetails .serviceDetailsTitle {
        padding: 0
    }

    .serviceDetailsTitle i {
        position: relative
    }

    .serviceDetailsTitle h2 {
        margin: 17px 0 4px
    }

    .serviceDetailsContent ul {
        margin-left: 18px
    }

    .projectSliderCard {
        padding: 40px 20px 115px 25px
    }

    .projectSliderCard h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 1px;
        margin: 0 0 20px
    }

    .projectDetails h2.ptojetDetailsTitle {
        font-size: 42px;
        letter-spacing: 4.2px
    }

    .projectDetails .projectQuite p {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2.8px
    }

    .projectDetailsCard {
        padding: 62px 20px 115px 30px
    }

    .projectDetailsCard h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2.8px;
        margin: 0 0 30px
    }

    .heaven-video-btn {
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 18px
    }

    .heaven-video-btn-02 {
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 18px
    }

    .single-testimonial h2 {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 4px
    }

    .footer-01 {
        padding: 100px 0 0 !important
    }

    .projectDetails h2.ptojetDetailsTitle {
        font-size: 30px;
        letter-spacing: 4px
    }

    .fds_content h2 {
        font-size: 30px;
        line-height: 40px
    }

    .shopInnerPages {
        padding: 80px 0
    }

    .pricingSections {
        padding: 90px 0 30px
    }
}